.imageContainer {
  width: 100%;
  height: 12rem;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.imageContainer div {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

